﻿{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    <h3>Comments:</h3>
{% for comment in comments %}
    <div class="comment">
        <div class="date">
            <p>{{ comment.published_date }}</p>
        </div>
        <p>{{ comment.text|linebreaksbr }}</p>
    </div>
{% endfor %}
    <h3>Add comment</h3>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}